Repository Telecominfraproject/wlan-testing, pull requests merged in 2022-05, with the labels that each got.

#438 Wifi 7233
  libs/lanforge/lf_tests.py
  libs/lanforge/pull_report.py
  tests/conftest.py
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/client_connectivity/test_enterprise_tls.py
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/client_connectivity/test_enterprise_ttls.py
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/client_connectivity/test_general_security_modes.py
  tests/e2e/basic/validation_of_operating_modes/nat_mode/client_connectivity/test_enterprise_tls.py
  tests/e2e/basic/validation_of_operating_modes/nat_mode/client_connectivity/test_enterprise_ttls.py
  tests/e2e/basic/validation_of_operating_modes/nat_mode/client_connectivity/test_general_security_modes.py
  tests/e2e/basic/validation_of_operating_modes/vlan_mode/client_connectivity/test_enterprise_tls.py
  tests/e2e/basic/validation_of_operating_modes/vlan_mode/client_connectivity/test_enterprise_ttls.py
  tests/e2e/basic/validation_of_operating_modes/vlan_mode/client_connectivity/test_general_security_modes.py
Labels: Enhancement, Framework

#494 Wifi 7619
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/rate_limiting_with_radius/test_radius_limiting.py
Labels: Test Cases

#506 Wifi 7836
  libs/controller/controller_2x/controller.py
  tests/controller_tests/ucentral_gateway/test_provisionservice.py
Labels: Enhancement, Test Cases

#519 Wifi 7857
  libs/controller/controller_2x/controller.py
  tests/controller_tests/ucentral_gateway/test_provisionservice.py
Labels: Enhancement, Test Cases

#521 Wifi 7883
  libs/controller/controller_2x/controller.py
  tests/controller_tests/ucentral_gateway/test_gatewayservice.py
Labels: Enhancement, Test Cases

#527 Wifi 7949
  .github/workflows/performance.yml
  .github/workflows/quali.yml
  .github/workflows/regression.yml
Labels: Workflow

#526 WIFI-7887
  .github/workflows/quali.yml
Labels: Workflow

#535 Wifi 6783
  libs/lanforge/lf_tests.py
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/multi_psk/wpa2_security/test_multipsk_basic_wpa2.py
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/multi_psk/wpa_security/test_multipsk_basic_wpa.py
  tests/e2e/basic/validation_of_operating_modes/nat_mode/multi_psk/wpa2_security/test_multi_psk_nat_wpa2.py
  tests/e2e/basic/validation_of_operating_modes/nat_mode/multi_psk/wpa_security/test_multi_psk_nat_wpa.py
Labels: Test Cases

#555 Wifi 7982
  libs/controller/controller_2x/controller.py
  tests/controller_tests/ucentral_gateway/test_gatewayservice.py
Labels: Enhancement, Test Cases

#561 Changed the SDK to QA01 instance
  .github/workflows/quali.yml
Labels: Workflow

#556 Wifi 8009
  libs/controller/controller_2x/controller.py
  tests/controller_tests/ucentral_gateway/test_gatewayservice.py
Labels: Enhancement, Test Cases

#536 Wifi 7112
  libs/lanforge/lf_tests.py
  tests/e2e/basic/performance_tests/ofdma_test/__init__.py
  tests/e2e/basic/performance_tests/ofdma_test/wpa2_personal/__init__.py
  tests/e2e/basic/performance_tests/ofdma_test/wpa2_personal/test_bridge_mode.py
  tests/e2e/basic/performance_tests/ofdma_test/wpa2_personal/test_nat_mode.py
  tests/e2e/basic/performance_tests/ofdma_test/wpa2_personal/test_vlan_mode.py
Labels: Test Cases

#575 WIFI-8094
  .github/workflows/quali.yml
Labels: Workflow

#577 Changed sanity to run on Next image
  .github/workflows/quali.yml
Labels: Workflow

#578 allure results artifact name modified with latest marker names
  .github/workflows/regression.yml
Labels: Workflow

#544 WIFI-7175
  libs/lanforge/lf_tests.py
Labels: Test Cases
