Repository Telecominfraproject/wlan-testing, pull requests merged in 2022-04, with the labels that each got.

#446 Wifi 7413
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/client_connect_test/iOS/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/nat_mode/client_connect_test/iOS/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/vlan_mode/client_connect_test/iOS/test_enterprise_ttls.py
Labels: Enhancement, Interop, Test Cases

#440 Wifi 7409
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/client_connect_test/android/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/nat_mode/client_connect_test/android/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/vlan_mode/client_connect_test/android/test_enterprise_ttls.py
Labels: Enhancement, Interop, Test Cases

#456 Wifi 7605
  .github/workflows/quali.yml
Labels: Workflow

#470 Wifi 7617
  libs/controller/controller_2x/controller.py
  tests/controller_tests/ucentral_gateway/test_provisionservice.py
  tests/test_connectivity.py
Labels: Enhancement

#475 WIFI-7705- Added memory Profile output
  tests/conftest.py
  tests/fixtures_2x.py
Labels: Framework

#459 Wifi 7311
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/country_code_channel_division/country_code_CA/android/test_CA_20Mhz.py
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/country_code_channel_division/country_code_CA/android/test_CA_40Mhz.py
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/country_code_channel_division/country_code_CA/android/test_CA_80Mhz.py
Labels: Interop, Test Cases

#474 Added system info test case of Provision UI
  libs/controller/controller_2x/controller.py
  tests/conftest.py
  tests/controller_tests/ucentral_gateway/test_provisionservice.py
  tests/fixtures_2x.py
Labels: Enhancement, Test Cases

#491 Added get_system_prov() in controller class
  libs/controller/controller_2x/controller.py
Labels: Framework

#492 Changed hfcl_ion4xi from basic3 to basic 4
  .github/workflows/quali.yml
Labels: Workflow

#493 Wifi 7772
  libs/controller/controller_2x/controller.py
  tests/controller_tests/ucentral_gateway/test_provisionservice.py
Labels: Framework, Test Cases
