Repository Telecominfraproject/wlan-testing, pull requests merged in 2022-03, with the labels that each got.

#424 Added tls in the name of SSID for tls test cases
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/client_connectivity/test_enterprise_tls.py
  tests/e2e/basic/validation_of_operating_modes/nat_mode/client_connectivity/test_enterprise_tls.py
  tests/e2e/basic/validation_of_operating_modes/vlan_mode/client_connectivity/test_enterprise_tls.py
Labels: Test Cases

#421 Wifi 6731
  libs/lanforge/lf_tests.py
  tests/e2e/basic/performance_tests/throughput_benchmark/throughput_vs_various_pkt_sizes/wpa2_security/test_vlan_mode.py
  tests/e2e/basic/performance_tests/throughput_benchmark/throughput_vs_various_pkt_sizes/wpa_security/test_vlan_mode.py
Labels: Test Cases

#429 In Bridge and NAT Mode TLS Mix type test cases added
  tests/e2e/basic/validation_of_operating_modes/bridge_mode/client_connectivity/test_enterprise_tls.py
  tests/e2e/basic/validation_of_operating_modes/nat_mode/client_connectivity/test_enterprise_tls.py
  tests/e2e/basic/validation_of_operating_modes/vlan_mode/client_connectivity/test_enterprise_tls.py
Labels: Enhancement, Test Cases

#415 Wifi 7159
  .github/workflows/interop_performance.yml
  .github/workflows/interop_regression.yml
  tests/e2e/interOp/conftest.py
  tests/e2e/interOp/openroaming_test/android/test_OpenRoaming_BridgeMode.py
  tests/e2e/interOp/openroaming_test/iOS/test_OpenRoaming_BridgeMode.py
  tests/e2e/interOp/openroaming_test/iOS/test_OpenRoaming_NatMode.py
  tests/e2e/interOp/openroaming_test/iOS/test_OpenRoaming_vlan_mode.py
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/client_connect_test/android/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/client_connect_test/android/test_general_security_modes.py
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/client_connect_test/iOS/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/bridge_mode/client_connect_test/iOS/test_general_security_modes.py
  tests/e2e/interOp/validation_of_operating_modes/nat_mode/client_connect_test/android/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/nat_mode/client_connect_test/android/test_general_security_modes.py
  tests/e2e/interOp/validation_of_operating_modes/nat_mode/client_connect_test/iOS/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/nat_mode/client_connect_test/iOS/test_general_security_modes.py
  tests/e2e/interOp/validation_of_operating_modes/vlan_mode/client_connect_test/android/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/vlan_mode/client_connect_test/android/test_general_security_modes.py
  tests/e2e/interOp/validation_of_operating_modes/vlan_mode/client_connect_test/iOS/test_enterprise_ttls.py
  tests/e2e/interOp/validation_of_operating_modes/vlan_mode/client_connect_test/iOS/test_general_security_mode.py
Labels: Enhancement, Interop, Workflow, Framework

#437 WIFI-7317
  .github/workflows/update-badges.yml
  README.md
Labels: Badges
